{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "eslint-config-prettier", "prettier"],
    "rules": {
      "@typescript-eslint/no-explicit-any": "warn",  // Khi có nơi dùng type: any thì chỉ báo warn
      "@typescript-eslint/no-unused-vars": "off",   // Tắt báo lỗi và xóa biến khi có biến không sử dụng
      "prettier/prettier": [
        "warn",
        {
          "arrowParens": "always",
          "semi": false,
          "trailingComma": "none",
          "tabWidth": 2,
          "endOfLine": "auto",
          "useTabs": false,
          "singleQuote": true,
          "printWidth": 120,
          "jsxSingleQuote": true
        }
      ]
    }
  }
  